body {
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
}

form {
  background-color: #f9f4ea;
  height: 100%;
  place-items: center;
  place-content: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: serif;
  margin: -10vh 0 15vh 0;
}

label {
  font-size: 1.2rem;
}

input, #join {
  appearance: textfield;
  background: none;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 1.2rem;
  text-align: center;
  padding: .25em .5em;
}

input:focus {
  outline: none;
}

#name {
  width: 200px;
}

#joinCode {
  width: 125px;
  border-radius: 5px 0 0 5px;
}

#join {
  background-color: #000;
  border-radius: 0 5px 5px 0;
  color: #fff;
  cursor: pointer;
  width: 75px;
}

#dropContainer {
  border: 2px dashed #000;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  margin: 5vh 0 -15vh 0;
  width: min(90vw, 600px);
  height: 25vh;
}

#dropContainer img {
  height: 4.5rem;
}

#file {
  display: none;
}

#toast {
  background-color: #000;
  border-radius: 5px;
  bottom: 2em;
  color: #fff;
  display: none;
  padding: .75em 2em;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

#toast.show {
  display: block;
}


.text-field-container {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 0.5em;
	align-items: center;

	& .field-label {
		@media (max-width: 600px) {
			display: none;
		}
	}
}
